.container{
   
    height: 300px;
    width: 400px;
    margin: 20px auto;
    background-color: hsl(185, 39%, 36%);
    color: rgb(250, 235, 235);
   box-shadow: 13px 13px 10px -8px rgb(82,80,80);
}
img{
    width: 50%;
    border: 1;
    margin: auto;
    border-radius: 50%;
    position: relative;
    left: 80px;
    }

    #designation{
        text-transform: uppercase;
        background-color: #4ea4ba;
        padding: 8px;
        margin: 0;
        font-size: x-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* font-weight: bold; */
        word-spacing: 10px;
        text-align: center;
        
    }
    #name{
        text-transform: uppercase;
        background-color:  hsl(185, 39%, 36%);
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding:20px ;
        font-size:x-large;
        text-align: center;
    }
    #company{
        text-transform: capitalize;
        background-color: hsl(185, 39%, 36%);
        margin: 0;
        padding: 20px;
        font-weight: bold;
        font-size: larger;
        text-align: center;
        /* position: relative; */
        left: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }